$color-primary: #0074d9;
$color-secondary: #7fdbff;
$color-tertiary: #39cccc;
$radio-animation: click-wave;

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
